In [26]:
#Farzaneh Noroozi-Activity 2.01
#1. Import the pandas library. 
import pandas as pd

In [27]:
#2. Read the US_GDP.csv file from the Datasets directory into a DataFrame named GDP_data. 
fname = 'C:/Users/15039/OneDrive/Desktop/5310/Book-github/The-Pandas-Workshop-master/Chapter02/Datasets/GDP_data.csv'
GDP_data = pd.read_csv(fname)

In [21]:
3. Display the head of GDP_data so that you can see the formats of the data in the file. 
GDP_data.head()

         date      GDP
0  2017-03-31  19190.4
1  2017-06-30  19356.6
2  2017-09-30  19611.7
3  2017-12-31  19918.9
4  2018-03-31  20163.2

In [22]:
#4. Inspect the object types of GDP_data, in particular the date column. 
GDP_data.dtypes

date     object
GDP     float64
dtype: object

In [23]:
#5. Use the pd.to_datetime() method to convert the date column into a timestamp. 
GDP_data['date'] = pd.to_datetime(GDP_data['date'])

In [28]:
#6. Use the .set_index() method to replace the index with the date column. 
#Be sure to use inplace = True so the result is applied to the existing DataFrame, and drop = True 
#to remove the date column after it is used for the index. 
#Use .head() to confirm the result
GDP_data.set_index('date', inplace = True)
GDP_data.head()

                GDP
date
2017-03-31  19190.4
2017-06-30  19356.6
2017-09-30  19611.7
2017-12-31  19918.9
2018-03-31  20163.2

In [29]:
#Use the .to_csv() method to save the file to a new .csv file named US_GDP_ date_index.csv. 
GDP_data.to_csv('C:/Users/15039/OneDrive/Desktop/5310/Book-github/The-Pandas-Workshop-master/Chapter02/Datasets/GDP_data.csv')